form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

label {
  margin-top: 2px;
  margin-bottom: 2px;
}

.address {
  margin-top: 10px;
}
