.title {
  font-size: 2.5rem;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #000000;
  padding: 20px;
  width: 50%;
}

.form-field-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-container {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.personal-info {
  background-color: lightgrey;
  border-radius: 5px 0 0 5px;
}

.location-info {
  background-color: lightblue;
  border-radius: 0 5px 5px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

label {
  font-weight: bold;
  font-size: 1.125rem;
}
